.single-article-content {
    text-align: justify;
}

.show-single-article {
    margin-bottom: -100px;
  }
  .comment-article {
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .form-horizontal {
      margin-bottom: 100px;
  }

  .container-article-comment {
    background: #e6e6e6;
}
.comment-div {
    margin: 0 auto;
}

.attribution {
    text-align: right;
}



