/* body */

/*Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body {
    
    width: 100vw;
    overflow-x: hidden;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    /* background-color: blue; */
    
    width: 100vw;
    overflow-x: hidden;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    /* background-color: green; */
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    /* background-color: yellow; */
   
    width: 100vw;
    overflow-x: hidden;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    /* background-color: violet; */
    
    width: 100vw;
    overflow-x: hidden;
  }
}



/* logo */
.img-logo {
  display: block;
  margin: 0 auto;
}
/* App Component --- card --- circle--- loading page */




/* ::-webkit-scrollbar {
  display: none;
} */




/* Home Component */
.jumbotron {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 150px;
}
.lead {
  text-align: justify;
  color: #008000;
}
b {
  font-weight: bold;
}

/* Footer Component */
.footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #008755;
}
.p-copyright {
  text-align: center;
  line-height: 50px;
}

.copyright {
  text-align: center;
}

/* Register Component */
.card-register {
  margin: 0 auto;
  background: red;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  transform: translateY(10px);
}

b {
  color: #008000;
}

.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #00ff55, #3474eb);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.login-link {
  margin-bottom: 70px;
}

.form-group > .react-tel-input > .form-control {
  width: 35vw;
  height: 47px;
}

@media (max-width: 600px) {
  .form-group > .react-tel-input > .form-control {
    width: 91vw;
    height: 47px;
  }
}

/* Login Component */

/* body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #60a3bc !important;
} */

.h-100 {
  margin-top: 90px;
}
/* .forget-password {
  margin-top: 0px;
} */
.user_card {
  height: 350px;
  width: 350px;
  margin-top: auto;
  background: #e6fff6;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #008755;
  padding: 10px;
  text-align: center;
}
/* .brand_logo_container > p {
    margin-top: 51px;
    font-size: 27px;
    font-weight: bold;
    color: navajowhite;
} */
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #008755;
}
.form-container {
  margin-top: 100px;
}
.form {
  margin-top: 75px;
}
.login_btn {
  width: 100%;
  /*background: #c0392b !important;*/
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #008755 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0392b !important;
}

.login-container {
  margin-top: 5px;
  margin-bottom: 150px;
}

.brand_logo_container > p {
  margin-top: 51px;
  font-size: 27px;
  font-weight: bold;
  color: antiquewhite;
}

/* DashboardComponent */
/* .add-article-icon {
  margin-bottom: 30px;
} */

/* CreateArticleComponent */
.create-article-container {
  margin-bottom: 100px;
  background-color: #b3ecff;
}
.create-article-h1,
.create-article-h3 {
  text-align: left;
}

/* FarmersListComponent */

.user-type-list {
  margin-bottom: 100px;
}

/* Contact Component */
.contact-container {
  margin-top: 50px;
}

#contact-form {
  margin-bottom: 100px;
}


