.add-comment-experience {
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .form-horizontal-add-comment-experience {
      margin-bottom: 40px;
  }

  .container-experience-comment {
    background: #e6e6e6;
}
.comment-div-experience {
    margin: 0 auto;
    margin-bottom: 100px;
}

.attribution {
    text-align: right;
}

.form-horizontal-edit-comment-experience {
    margin-bottom: 70px;
}